@model IEnumerable<ShoppingApp.Models.Product2>

@{
    ViewData["Title"] = "產品列表";
}

<style>
    .ProductImage:hover {
        transform: scale(3);
    }

    .LinkDiv a {
        position: relative;
        top: 8px;
        left: 2px;
    }
</style>

<h1>產品清單</h1><span class="text-danger">@TempData["ReachLimit"]</span>

<div class="LinkDiv">
    <a asp-action="Create">點此建立產品 (最多6個)</a>&nbsp;&nbsp;&nbsp;
    @if (AuthorizeManager.InAdminGroup(User.Identity.Name))
    {
        <a asp-action="ResetShelf">點此將清單更新到購物頁面</a><span>&nbsp;&nbsp;&nbsp;</span>
        <a asp-action="DeleteAll">DeleteAll</a><span>&nbsp;&nbsp;&nbsp;</span>
        <a asp-action="ImportProduct2" asp-controller="CSV">Import</a><span>&nbsp;&nbsp;&nbsp;</span>
    }
</div>
<br>
<p>★管理員審核清單後，會將您的清單更新到購物頁面。</p>
<p>★更新清單的時間為每天的 9:00AM 和 5:00PM。</p>
<br>
<table class="table">
    <thead>
        <tr>
            <th style="white-space: nowrap;">
                圖片
            </th>
            <th style="white-space: nowrap;">
                擁有者
            </th>
            <th style="white-space: nowrap;">
                名稱
            </th>
            <th style="white-space: nowrap;">
                描述
            </th>
            <th style="white-space: nowrap;">
                價格
            </th>
            <th style="white-space: nowrap;">
                銷量
            </th>
            <th style="white-space: nowrap;">
                庫存
            </th>
            <th style="white-space: nowrap;">
                上架日期
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int profit = 0;
        }
        @foreach (var item in Model)
        {
            profit += item.Price * item.SellVolume;

            <tr>
                <td>
                    <img class="ProductImage" src="@Html.DisplayFor(modelItem => item.DefaultImageURL)" width="30" height="30" />
                </td>
                <td style="white-space: nowrap;">
                    @Html.DisplayFor(modelItem => item.SellerEmail)
                </td>
                <td style="white-space: nowrap;">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <div style="width:100%;white-space:normal;word-wrap:break-word;word-break:break-all;">
                        @Html.DisplayFor(modelItem => item.Description)
                    </div>
                </td>
                <td style="white-space: nowrap;">
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td style="white-space: nowrap;">
                    @Html.DisplayFor(modelItem => item.SellVolume)
                </td>
                <td style="white-space: nowrap;">
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td style="white-space: nowrap;">
                    @Html.DisplayFor(modelItem => item.PublishDate)
                </td>
                <td style="white-space: nowrap;">
                    <a asp-action="Edit" asp-route-id="@item.Id">編輯</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">刪除</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>總共獲利 : @profit</div>
