@model Microsoft.AspNetCore.Identity.IdentityUser
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<h1>編輯會員</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Email" class="control-label">郵件</label>
                <input asp-for="@Model.Email" class="form-control" />
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.PasswordHash" class="control-label">密碼</label>
                <input asp-for="@Model.PasswordHash" class="form-control" />
                <span asp-validation-for="@Model.PasswordHash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="確認修改" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    @*返回之前的分頁並刷新(刷新的目的是避免表單資料消失)*@
    @{
        int? TryGetPage = HttpContextAccessor.HttpContext.Session.GetInt32("returnPage");
        int page = TryGetPage != null ? (int)TryGetPage : 1;
    }
    @Html.ActionLink("返回列表", "Index", "User", new { page = @page })
</div>