@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<Microsoft.AspNetCore.Identity.IdentityUser>
@{
    ViewBag.Title = "會員管理";
}
<h1>會員列表</h1>
<p>
    @Html.ActionLink("Create New", "Create", new { returnPage = Model.PageNumber })&nbsp;&nbsp;&nbsp;
    <a asp-action="DeleteAll">Delete All</a>&nbsp;&nbsp;&nbsp;
    <a asp-controller="CSV" asp-action="ImportUser">Import</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayName("Email")</th>
            <th>@Html.DisplayName("Id")</th>
            <th>@Html.DisplayName("AccessFailedCount")</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(model => item.Email)</td>
                <td>@Html.DisplayFor(model => item.Id)</td>
                <td>@Html.DisplayFor(model => item.AccessFailedCount)</td>
                <td style="white-space: nowrap;">
                    @Html.ActionLink("編輯 |", "Edit", new { id = item.Id, returnPage = Model.PageNumber })
                    @Html.ActionLink("刪除", "Delete", new { id = item.Id, returnPage = Model.PageNumber })
                </td>
            </tr>
        }
    </tbody>
</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
    new X.PagedList.Mvc.Core.Common.PagedListRenderOptions
    {
        LinkToPreviousPageFormat = "上一頁",
        LinkToNextPageFormat = "下一頁"
    })