@page
@model LoginModel

@{
    ViewData["Title"] = "哈囉XD";
}

<h1>@ViewData["Title"]</h1>

<script>
    function AddGmail() {
        var InputOfEmail = document.getElementById("InputOfEmail");
        // 若 Input 沒有 gmail 則幫忙補上
        if (InputOfEmail.value.indexOf("@@gmail") < 0) {
            InputOfEmail.value = InputOfEmail.value + "@@gmail.com";
        }
    }
    function AddYahoo() {
        var InputOfEmail = document.getElementById("InputOfEmail");
        // 若 Input 沒有 yahoo 則幫忙補上
        if (InputOfEmail.value.indexOf("@@yahoo") < 0) {
            InputOfEmail.value = InputOfEmail.value + "@@yahoo.com.tw";
        }
    }
</script>

<div class="row">
    <div class="col-md-4">
        <h4>歡迎登入(^___^)</h4>
        <section>
            <form id="account" method="post">
                <hr />
                <div class="text-danger">@TempData["LoginFail"]</div><br>
                <div class="form-group">
                    <label asp-for="Input.Email">請輸入您的郵件&nbsp;&nbsp;
                        <a href="javascript:void(0)" onclick="AddGmail();">接Gmail</a>&nbsp;&nbsp;
                        <a href="javascript:void(0)" onclick="AddYahoo();">接Yahoo</a>
                    </label>
                    <input asp-for="Input.Email" class="form-control" id="InputOfEmail"/>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password">請輸入您的密碼</label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">登入</button>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">忘記密碼?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">註冊新帳戶</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>使用外部裝置登入</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            資料錯誤，外部登入暫時無法使用!
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}