@model IEnumerable<ShoppingApp.Models.AuthorizedMember>

@{
    ViewData["Title"] = "權限管理";
}

<h1>特權用戶列表</h1>

<p>
    <a asp-action="Create">Create New</a>&nbsp;&nbsp;&nbsp;
    <a asp-controller="CSV" asp-action="ImportAuthorizedMember">Import</a>&nbsp;&nbsp;&nbsp;
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InAdminGroup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InSellerGroup)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            // 不要顯示超級管理員
            if (item.Email != AuthorizeManager.SuperAdmin)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InAdminGroup)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InSellerGroup)
                    </td>
                    <td style="white-space: nowrap;">
                        <a asp-action="Edit" asp-route-id="@item.Id">編輯</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">刪除</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
