@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<ShoppingApp.Models.Product>
@inject Wangkanai.Detection.Services.IDetectionService DetectionService
@{
    ViewBag.Title = "阿貓購物網站";

    bool isMobile = @DetectionService.Device.Type == Wangkanai.Detection.Models.Device.Mobile;

    string ImgWidth = isMobile ? "max-width:100%;" : "width:336px;";
}

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-sm-6 col-md-4" style="margin-bottom:20px;">
            <div class="thumbnail">
                <img class="ProductImg" style="@ImgWidth height:360px;" src="@product.DefaultImageURL" alt="商品圖片">
                <div class="caption">
                    <h3>@product.Name</h3>
                    <p>
                        <span style="width:30%; display:inline-block;">售價 : @product.Price</span>
                        <span style="width:30%; display:inline-block;">庫存 : @product.Quantity</span>
                    </p>
                    <p>
                        <a onclick="AddToCart('@product.Id')" href="javascript:void(0);"
                           class="btn btn-primary" role="button">
                            加入購物車
                        </a>
                        <a href="@Url.Action("Details", new { id = product.Id , returnPage = Model.PageNumber })" class="btn btn-primary" role="button">查看留言</a>
                    </p>
                </div>
            </div>
        </div>
    }
</div>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("ShowProducts", new { page }))