@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<ShoppingApp.Models.Comment>

<h1>留言列表</h1>

<p>
    @Html.ActionLink("Create New", "Create", "Comment", new { returnPage = Model.PageNumber })&nbsp;&nbsp;&nbsp;
    <a asp-action="DeleteAll">Delete All</a>&nbsp;&nbsp;&nbsp;
    <a asp-controller="CSV" asp-action="ImportComment">Import</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().CreateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    <div style="width:100%;white-space:normal;word-wrap:break-word;word-break:break-all;">
                        @Html.DisplayFor(modelItem => item.Content)
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateTime)
                </td>
                <td style="white-space: nowrap;">
                    @Html.ActionLink("編輯 |", "Edit", new { id = item.Id, returnPage = Model.PageNumber })
                    @Html.ActionLink("刪除", "Delete", new { id = item.Id, returnPage = Model.PageNumber })
                </td>
            </tr>
        }
    </tbody>
</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
    new X.PagedList.Mvc.Core.Common.PagedListRenderOptions
    {
        LinkToPreviousPageFormat = "上一頁",
        LinkToNextPageFormat = "下一頁"
    })