@inject Wangkanai.Detection.Services.IDetectionService DetectionService
@{
    bool isMobile = @DetectionService.Device.Type == Wangkanai.Detection.Models.Device.Mobile;
}
<!DOCTYPE html>
<style>
    a.my-class {
        color: black;
    }
    a.my-class:hover {
        color: #FF00FF;
        text-decoration: none;
    }
    li {
        margin-right: 10px;
        cursor: pointer;
    }
</style>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>阿貓購物網站</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    @* 購物車 *@
    <script type="text/javascript">

        //放入該ID的產品到購物車
        function AddToCart(productId) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("AddToCart", "Cart")',
                data: { id: productId }
            })
            .done(function (msg) {
                //指令執行成功則重載購物車頁面
                $('#Cart').html(msg);
            });
        }

        //搬移該ID的產品出購物車
        function RemoveFromCart(productId) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("RemoveFromCart", "Cart")',
                data: { id: productId }
            })
            .done(function (msg) {
                //指令執行成功則重載購物車頁面
                $('#Cart').html(msg);
            });
        }

        //清空購物車內所有商品
        function ClearCart() {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ClearCart", "Cart")',
                data: {}
            })
            .done(function (msg) {
                //指令執行成功則重載購物車頁面
                $('#Cart').html(msg);
            });
        }
    </script>
</head>
<body>
    <br><br><br>@*固定頂端工具列後，會影響到所有頁面的顯示，所以加一些空行將顯示內容往下*@
    @if (isMobile)
    {
    <br>@*將購物車拉出來顯示後，會影響到所有頁面的顯示，所以加一些空行將顯示內容往下*@
    }
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 fixed-top">
            @if (isMobile)
            {
                <div id="Cart" onclick="ImageHint()" style="font-size:large;">@await Html.PartialAsync("_CartPartial")</div>
            }
            <!-- .navbar-toggler 漢堡式選單按鈕，讓手機瀏覽時可以折疊工具列 -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <!-- .navbar-toggler-icon 漢堡式選單Icon -->
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="container" style="font-size:large;">
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" id="navbarSupportedContent">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        @if (!AuthorizeManager.inAdminGroup(User.Identity.Name))
                        {
                            <li>@Html.ActionLink("購物首頁", "Index", "Home", null, new { @class = "my-class" })</li>
                            <li>@Html.ActionLink("聯絡方式", "Contact", "Home", null, new { @class = "my-class" })</li>
                            <li>@Html.ActionLink("我的訂單", "Index", "OrderForm", null, new { @class = "my-class" })</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("首頁", "Index", "Home", null, new { @class = "my-class" })</li>
                            <li>@Html.ActionLink("產品", "Index", "Product", null, new { @class = "my-class" })</li>
                            <li>@Html.ActionLink("會員", "Index", "User", null, new { @class = "my-class" })</li>
                            <li>@Html.ActionLink("訂單", "Index", "OrderForm", null, new { @class = "my-class" })</li>
                            <li>@Html.ActionLink("留言", "Index", "Comment", null, new { @class = "my-class" })</li>

                            if(User.Identity.Name == AuthorizeManager.SuperAdmin)
                            {
                                <li>@Html.ActionLink("權限", "Index", "AuthorizedMember", null, new { @class = "my-class" })</li>
                            }
                        }
                        @if (!isMobile)
                        {
                            <li id="Cart" onclick="ImageHint()">@await Html.PartialAsync("_CartPartial")</li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <p>&copy; @DateTime.Now.Year - 阿貓購物網站 </p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

<script>
    // 這段代碼要放在 Html.PartialAsync("_CartPartial") 之後才能抓到購物車
    $(document).ready(function () {
        if (window.location.pathname == "/OrderForm/Create") {
            // 若是在訂單填寫的頁面，則應該改用訂單明細中的按鈕來進行購物車的操作
            $('#CartDiv').css("pointer-events", "none");
        }
        else {
            $('#CartDiv').css("pointer-events", "auto");
        }
    });

    function ImageHint() {
        if (window.location.pathname == "/OrderForm/Create") {
            alert("將游標移到圖片會有放大效果!");
        }
    }
</script>